<h1>Group</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <td><img src="{{user.photo_50}}"></td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td><button class="btn btn-default" (click)="userDetail.show(user)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></td>
      <td>
        <a class="btn btn-default" [routerLink]="['Messages', {id: id, user: user.id}]" role="button">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
      </td>
    </tr>
  </tbody>
</table>

<user-detail #userDetail></user-detail>